:root {
  --border-radius: 0.5rem;
  --default-padding: 2rem;
  --color-light: #efebe9;
  --color-accent: #fd9602;
  --color-accent-light: rgb(255, 194, 109);
  --color-dark: #282c38;
  --color-primary: #c4ccb4;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-light);
}

h1,
h2,
h3,
p {
  margin: 0;
}

#app {
  width: 80%;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 auto;
  height: 100svh;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Navigation */
.nav {
  height: 2rem;
  width: 80%;
  align-items: center;
  background: var(--color-primary);
  border-radius: var(--border-radius);
  padding: var(--default-padding);
}

.nav--main {
  margin-top: 2rem;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Main area */
.container__main {
  position: relative;
  height: 100%;
  width: 100%;
  place-items: center;
  margin: 4rem 0;
}

.container__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  aspect-ratio: 3/4;
  background: #fff;
  border-radius: calc(var(--border-radius) * 2);
}

.card {
  padding: 2rem;
  height: calc(100% - 4rem);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 810px) {
  #app {
    width: 90%;
  }

  .nav {
    width: calc(100% - (var(--default-padding) * 2));
  }
}

@media screen and (max-width: 500px) {
  .container__card {
    width: 100%;
    height: auto;
  }
}

.card__img-frame,
.card__img--cover,
.card__img--contain,
.card__img {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}

.card__img {
  object-fit: cover;
}

.card__img--cover {
  object-fit: cover;
}

.card__img--contain {
  object-fit: contain;
}

.card__filter-name {
  font-size: 1.2rem;
}

.card__controls {
  gap: 2rem;
  padding: 1rem;
}

#drop-area.flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 4rem;
}

.img--false {
  background: var(--color-light);
  outline: 5px dashed #c1c1c1;
}

.img--true {
  border: none;
}

.drop-area__text {
  font-size: 1.4rem;
  text-align: center;
}

/* Add to content div when there is active img */

.content--controls {
  padding-top: 2rem;
  align-self: end;
  gap: 1rem;
}

.content--date {
  margin-top: auto;
}

.icon {
  border: 2px solid var(--color-dark);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.icon--white-bg {
  background-color: #ffffff;
}

.drop-area__icon {
  height: 30%;
  width: auto;
}

@media screen and (max-width: 700px) {
  .content {
    padding: 1.4rem;
    height: calc(100% - 2.8rem);
  }

  .content--controls {
    padding-top: 1.4rem;
  }
  .icon {
    height: 12px;
    width: 12px;
  }
}

/* FX Carousel */

.hidden {
  visibility: hidden;
}
.carousel {
  height: 6rem;
  margin-bottom: 2rem;
  align-content: center;
  grid-auto-flow: column;
  overflow-y: hidden;
  gap: 4rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.scroll-snap {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
}

.scroll-snap > * {
  scroll-snap-align: start;
}

.scroll-snap:last-child {
  scroll-snap-align: end;
}

.carousel__img-frame {
  padding: 0.2rem;
  background: var(--color-primary);
  border-radius: var(--border-radius);
}

.carousel__img {
  height: 50px;
  width: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 0px 2px 3px 1px var(--color-dark);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.active {
  background: var(--color-accent);
}

/* Links */

.link {
  padding: 1rem var(--default-padding);
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.link:hover {
  color: greenyellow;
}

/* Buttons */

.btn {
  padding: 0.4rem;
  cursor: pointer;
}

.btn--card {
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 6rem;
  background-color: #727272;
}

.btn--card__controls {
  background: var(--color-accent);
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
}

.icon--card {
  width: 2.2rem;
}

.drop-area {
  position: absolute;
  width: inherit;
  height: 100%;
}
